.navbar {
  box-shadow: 1px 1px 11px #d5d5d5;

  .container {
    max-width: 1400px;
  }
  .navbar-nav {
    align-items: center;
    a {
      color: #666666;
      margin-right: 28px;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .logo {
    span {
      background-color: $orange-color;
      display: inline-block;
      width: 60px;
      height: 63px;
      text-align: center;
      line-height: 1.5;
      color: white;
    }
    font-size: 43px;
    letter-spacing: 2px;
    font-family: $logo-font;
    color: $orange-color;
  }
  .dis-MobileView {
    display: none;
  }
  .search-head {
    font-size: 18px;
    font-weight: 600;
    width: 158px;
  }
  .search-icon {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  .form-control {
    padding-left: 32px;
  }
  .active {
    background-color: $orange-color;
    color: white !important;
    border-radius: 5px;
  }
  .login {
    color: white !important;
    width: 86px;
    padding: 5px 0;
    border-radius: 7px;
    text-align: center;
    background-color: $orange-color;
  }
  @media (max-width: 1200px) {
    .navbar-nav a {
      margin-right: 28px;
      font-size: 18px;
    }
  }
  @media (max-width: 992px) {
    .dis-none-inMobile {
      display: none;
    }
    .dis-MobileView {
      display: block;
    }
    .navbar-nav {
      align-items: flex-start;
      padding: 15px 0;
    }
  }
  @media (max-width: 575px) {
    .logo {
      font-size: 37px;
      span {
        width: 49px;
        height: 58px;
      }
    }
  }
}
