.Map {
  .map-google {
    height: 900px;
  }
  .paper {
    padding: 10px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    img {
      max-width: 100%;
    }
  }
  @media (max-width: 992px) {
    .map-google {
      height: 500px;
    }
  }
}
