.search-bar {
  margin-top: 80px;

  .head {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 31px;
    font-family: "Montserrat";
  }
  @media (max-width: 992px) {
    .reverse-coloum {
      flex-direction: column-reverse;
    }
    .head {
      margin-top: 30px;
    }
  }
}
